[Unit]
Description=Configure the PhotoBooth DNP DS-RX1 printer
After=cups.service
Requires=cups.service

[Service]
Type=simple
ExecStart=/usr/local/sbin/photobooth-printer-setup

[Install]
WantedBy=multi-user.target
